{% extends 'home.html' %}

{% block title %}
    <title>Mini-Instagram</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if posts %}
            <ul class="posts">
            {% for post in posts %}
                    {% if post.text %}
                        <h4>
                            <a href="{% url 'insta:delete' post.id %}">Delete</a>
                            {{ post.user }}
                            {{ post.text }}
                            {{ post.pub_date }}
                        </h4>
                    {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-posts">No posts.</p>
    {% endif %}
    {% else %} 
        <meta http-equiv="REFRESH" content="0;url=./login">
    {% endif %}
{% endblock %}