{% extends 'home.html' %}
{% if user.is_authenticated %}
    <p>user</p>
    {% block title %}
        <title>Mini-Instagram</title>
    {% endblock %}

    {% block content %}
    <div>
        <h1>Create a Post</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button class="btn" type="submit">Post!</button>
            <br><br>
        </form>
    </div>

    {% endblock %}
{% else %}
    <meta http-equiv="REFRESH" content="0;url=./login">
{% endif %}